<main class="container-fluid p-0">
    <div *ngIf="deleteStatus" class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wirklich löschen?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Abbrechen"
                        (click)="cancel()"></button>
                </div>
                <div class="modal-body">
                    <p>Wollen Sie die Bestellung von {{parcel.firstname}} {{parcel.lastname}} wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="cancel()">Abbrechen</button>
                    <button type="button" class="btn btn-danger" (click)="confirm()">Löschen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 col-sm-11">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="card-title text-center mt-1 mb-4">Alle Bestellungen</h3>
                        <div class="row justify-content-center mb-5">
                            <div class="col-12" *ngFor="let parcel of parcels; let i = index">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ parcel.date | date:'dd.MM.yyyy' }} -
                                            {{parcel.firstname}} {{parcel.lastname}} - {{parcel.platform}}</h5>
                                        <i class="bi bi-trash float-end" (click)="delete(parcel.id)"></i>
                                        <i class="bi bi-pencil float-end" [routerLink]="['/parcel', parcel.id]"></i>
                                        <i class="bi bi-info-circle float-end" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                            [attr.aria-controls]="'collapse' + i"></i>
                                    </div>
                                    <div [id]="'collapse' + i" class="collapse">
                                        <div class="card-body">
                                            <p><strong>Plattform:</strong> {{parcel.platform}}</p>
                                            <p><strong>Adresse:</strong> {{parcel.street}} {{parcel.housenumber}},
                                                {{parcel.plz}} {{parcel.ort}}</p>
                                            <p><strong>Paket-Größe:</strong> {{parcel.parcelwidth}} x
                                                {{parcel.parcellength}} x {{parcel.parcelheight}} cm</p>
                                            <p><strong>Paket-Gewicht:</strong> {{parcel.weightinkg}} kg</p>
                                            <p><strong>Paket-Inhalt:</strong> {{parcel.parcelcontent}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>