main {
    background-image: url('../../assets/background.jpg');
    width: 100%; 
    min-height: 100vh;
    display: flex;
}
    
i {
    cursor: pointer;
    margin: 7px;
  }

.bi-trash {
    color: red;
}

#block{
    display: block;
}

