<main class="container-fluid mb-5">
    <div class="row justify-content-center mt-5 w-100">
        <div class="col-lg-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">SaleTrackr</h3>
                    <p class="card-text text-align mb-3">Willkommen bei SaleTrackr! Hier können Sie Ihre Bestellungen
                        verwalten.</p>
                    <p><strong>Aber wie funktioniert das?</strong></p>
                    <ul>
                        <li>1. Ihre Hauptseite</li>
                        <li>2. Neue Verkäufe registrieren</li>
                        <li>3. Einen Verkauf löschen</li>
                        <li>4. Einen Eintrag ändern</li>
                    </ul>
                    <hr>
                    <p><strong>1. Ihre Hauptseite</strong></p>
                    <p>In Ihrer persönlichen Startseite "Home" sehen Sie Ihre aktuellsten Verkäufe. <br>
                        Standardmäßig werden dort Ihre Verkäufe der letzten 7 Tage angezeigt. Sollte es in
                        diesem Zeitraum keine Verkäufe gegeben haben, so wird Ihnen der letzte Verkauf - zeitunabhängig
                        angezeigt.
                        <br>
                        Darunter sehen Sie - rechts unten - einen kleinen Zähler, der Ihnen zeigt, wie viele Verkäufe in
                        den letzten 7 Tagen getätigt wurden.
                    </p>
                    <hr>
                    <p><strong>2. Neue Verkäufe registrieren</strong></p>
                    <p>Wenn Sie auf einer Verkaufsplattform Artikel verkauft haben, können Sie ganz einfach
                        dieses Tool nutzen und über einen Klick auf "Add Order" in der obigen Navigationsleiste
                        einen neuen Eintrag in Ihre Datenbank anlegen, welcher alle Infos über Ihren Verkauf
                        speichern kann.
                    </p>
                    <hr>
                    <p><strong>3. Details eines Verkaufs einsehen</strong></p>
                    <p>Möchten Sie Details eines Verkaufs einsehen, so können Sie dies durch Klick auf das Register
                        Orders erledigen. <br>Dort sehen Sie alle Einträge, die Sie bisher in Ihre Datenbank
                        gespeichert haben. <br>
                        Möchten Sie nun die Details über diese Verkäufe einsehen, so klicken Sie jeweils in der
                        Karte des jeweiligen Verkaufs auf das Icon i, woraufhin sich weitere Details des Verkaufs
                        öffnen.
                    </p>
                    <hr>
                    <p><strong>4. Einen Verkauf löschen</strong></p>
                    <p>Möchten Sie einen Verkauf doch aus der Datenbank entfernen, so können Sie das im Register Orders
                        erledigen. <br>Dazu suchen Sie den Eintrag, den Sie löschen möchten und klicken in diesem
                        Eintrag auf
                        das Symbol des Papierkorbs. <br>Zur Sicherheit werden Sie noch einmal gefragt, ob Sie
                        diesen Eintrag tatsächlich löschen möchten. Sollte dies der Fall sein, so bestätigen
                        Sie die Meldung und der Eintrag wird aus dem System gelöscht.
                    </p>
                    <hr>
                    <p><strong>5. Einen Eintrag ändern</strong></p>
                    <p>Möchten Sie einen Eintrag in Ihrer Datenbank ändern, so können Sie das im Register Orders
                        erledigen. <br>Dort sehen Sie alle Einträge, die Sie bisher in Ihre Datenbank
                        gespeichert haben. <br>
                        Um Details an einem bestimmten Eintrag bzw. Verkauf zu ändern, navigieren Sie zuerst zu dem
                        Verkauf, den Sie ändern möchten und klicken dort auf den Stift. Nun öffnet sich eine neue
                        Seite, in der Sie alle Details zu Ihrem Verkauf sehen und komfortabel ändern können.
                        Haben Sie Änderungen vorgenommen und möchten diese speichern, so klicken Sie auf "Aktualisieren"
                        und der Eintrag in Ihrer Datenbank ändert sich.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>